<html>
<head>
    <title>Upload Image</title>
</head>
<body>
<form enctype="multipart/form-data" action="/upload" method="post">
      <input type="file" name="uploadfile" />
      <input type="hidden" name="token" value="{{.}}"/><br>
      <input type="text" placeholder="Title" name="Title"><br>
      <input type="text" placeholder="Description" name="Desc"><br>
      <input type="text" placeholder="Category" name="Category"><br>
      <input type="submit" value="upload" />
</form>
</body>
</html>
