
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="body-container">
        <div class="center">
          <p><a href='/auth/github?provider=github'>Click to log in with github</a></p>
        </div>
      </div>
   </body>
</html>
