
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" .Auth }}
      <div class="body-container">
        <div class="center">
          <p>Thanks! You've been logged out!</p>
        </div>
      </div>
   </body>
</html>
