
<!DOCTYPE html>
<html>
  {{template "head"}}
   <body>
     {{ template "header" .Auth }}
      <div class="container">
         <h2>Account Settings</h2>
         <p>Eventually you'll be able to edit account settings here.</p>
         {{template "account-sidebar"}}
      </div>
   </body>
</html>
