<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/assets/css/normalize.css">
      <link rel="stylesheet" href="/assets/css/main.css">

   </head>
   <body>

      <div class="container">
        {{ template "logo" }}

         <h1>{{.Title}}</h1>

         {{range .Images}}
         <div class="img">
           <h2><a href="/p/{{.IID}}">{{.Title}}</a></h2>
           <p>{{.Desc}} - {{.Category}}</p>

           <img class="photo" src={{.URL}}>
         </div>
         {{end}}
       </div>

   </body>
</html>
