<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/assets/css/normalize.css">
      <link rel="stylesheet" href="/assets/css/main.css">

   </head>
   <body>
      <div class="container">
        {{ template "logo" }}

         <h2>{{.Img.Title}}</h2>
         <p>{{.Img.Desc}} - {{.Img.Album}}</p>
         <p>{{.Img.PublishTime.Format "2006 Jan 02" }}</p>
         <img class="photo-feature" src={{.Src.URL}}>
         <p>f/{{.Img.Aperture}} 1/{{.Img.ExposureTime}} sec {{.Img.FocalLength}}mm ISO {{.Img.ISO}}</p>

      </div>
   </body>
</html>
