
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/assets/css/normalize.css">
      <link rel="stylesheet" href="/assets/css/main.css">

   </head>
   <body>
      <div class="container">
        {{ template "logo" }}

         <h2>404.html!</h2>
         <p>Head back home, We hope you find what you're looking for!</p>
      </div>
   </body>
</html>
