
<!DOCTYPE html>
<html>
  {{template "head"}}
   <body>
      <div class="container">
{{ template "header" }}

         <h2>404.html!</h2>
         <p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="/">Head back home</a> to try finding it again.</p>
      </div>
   </body>
</html>
