
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="container">


         <h2>{{.Title.Value}}</h2>
         <p>{{.Desc.Value}}</p>
         <p>{{.PublishTime.Format "2006 Jan 02" }}</p>
         <img class="photo-feature" src={{.URL}}>
         <p>f/{{.Aperture.Value}} 1/{{.ExposureTime.Value}} sec {{.FocalLength.Value}}mm ISO {{.ISO.Value}}</p>

      </div>
   </body>
</html>
