<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
      <div class="container">
        {{ template "header" }}
         <img class="photo-feature" src={{.URL}}>
         <div class="form-div">
         <form action="/api/i/{{.IID}}/edit" method="post">
               <input type="text" name="Title" placeholder="Title" value="{{.Title.Value}}" /><br>
               <input type="textarea" name="Desc" placeholder="Description" value="{{.ImgDesc.Value}}"/><br>

               <input type="text" name="Aperture" placeholder="Aperture"value="{{.Aperture.Value}}" />
               <input type="text" name="ExposureTime" placeholder="Exposure Time" value="{{.ExposureTime.Value}}"/>
               <input type="text" name="FocalLength" placeholder="Focal Length" value="{{.FocalLength.Value}}"/>
               <input type="text" name="ISO" placeholder="ISO"value="{{.ISO.Value}}" />

               <input type="text" name="CameraBody" placeholder="Camera" value="{{.CameraBody.Value}}"/>
               <input type="text" name="Lens" placeholder="Lens" value="{{.Lens.Value}}" />

               <input type="text" name="TagOne" placeholder="Tag" value="{{.TagOne.Value}}" />
               <input type="text" name="TagTwo" placeholder="Tag" value="{{.TagTwo.Value}}"/>
               <input type="text" name="TagThree" placeholder="Tag" value="{{.TagThree.Value}}"/>

               <input type="submit" value="Save" />
         </form>
         </div>
      </div>
   </body>
</html>
