
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
      <div class="container">
         {{ template "header" }}

         {{range .Images}}
         <div class="img">
           <h2><a href="/i/{{.IID}}">{{.Title.Value}}</a></h2>
           <p>{{.ImgDesc.Value}}</p>

           <img class="photo" src={{.URL}}>
         </div>
         {{end}}

      </div>
   </body>
</html>
