
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="body-container">


         {{range .Images}}
         {{template "imageView" .}}
         {{end}}

      </div>
   </body>
</html>
