
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/assets/css/normalize.css">
      <link rel="stylesheet" href="/assets/css/main.css">

   </head>
   <body>
      <div class="container">
        {{ template "logo" }}

         <h1>Internal Server Error!</h1>
         <p>We seem to be having some trouble right now: {{.}}</p>
      </div>
   </body>
</html>
