
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="container">

        <p><a href='/auth/github?provider=github'>Click to log in with github</a></p>
      </div>
   </body>
</html>
