
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="body-container">

         <h2>{{.FirstName.Value}} {{.LastName.Value}}</h2>
         <p>{{.Bio.Value}}</p>
         <p>{{.UserName}}</p>

         {{range .Images}}
          {{template "imageView" .}}
         {{end}}

      </div>
   </body>
</html>
