
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" }}
      <div class="container">


         <h2>{{.FirstName}} {{.UserLastName}}</h2>
         <p>{{.Bio}}</p>
         <p>{{.Username}}</p>

         
         <img class="photo-feature" src={{.URL}}>
         <p>f/{{.Aperture.Value}} 1/{{.ExposureTime.Value}} sec {{.FocalLength.Value}}mm ISO {{.ISO.Value}}</p>

      </div>
   </body>
</html>
