<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/assets/css/main.css">

   </head>
   <body>

      <div class="container">

         <h1>{{.Title}}</h1>
         <p>There are {{.NumImg}} photos this collection</p>

         {{range .Images}}
         <div class="img">
           <h1><a href="/p/{{.PID}}">{{.Title}}</a></h1>
           <p>{{.Desc}} - {{.Category}}</p>

           <img class="photo" src={{.URL}}>
         </div>
         {{end}}
       </div>

   </body>
</html>
