<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <div class="container">
    {{ template "logo" }}
</div>
</body>
</html>
