<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <div class="container">
    {{ template "logo" }}

     <div class="form-div">
       <form enctype="multipart/form-data" action="/api/auth" method="post">
             <input type="text" placeholder="Username" name="username"><br>
             <input type="text" placeholder="Password" name="password"><br>
             <input type="submit" value="upload" />
       </form>
    </div>
</div>
</body>
</html>
