@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);


body {
  font-family: Inconsolata, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  text-rendering: optimizeLegibility;

}

#nav ul {
  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

#nav li{
  float: right;
}

#nav li a {
  display: block;
   text-align: center;
   padding: 14px 16px;
}
