{{define "metatags"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Devin McGloin</title>
<link rel="stylesheet" href="https://devinmcgloin.com/css/main.css">
<link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16" />
<meta name="twitter:image" content="https://devinmcgloin.com/public/logo.png">
<meta property="og:image" content="/public/logo.png">
<meta property="og:title" content="Devin McGloin">
<meta property="og:type" content="website">
<meta property="og:url" content="/">
<meta property="og:description" content="I’ve worked on a number of projects, most recently Adventure, a messenger game. I keep a collection of references, ideas and books, that I think people ought...">
<meta property="description" content="I’ve worked on a number of projects, most recently Adventure, a messenger game. I keep a collection of references, ideas and books, that I think people ought...">
<meta property="og:site_name" content="">
<meta property="og:locale" content="en_US">
<meta name="author" content="Devin McGloin">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@devinmcgloin">
<meta name="twitter:creator" content="@devinmcgloin">
<meta name="twitter:title" content="Devin McGloin">
<meta name="twitter:description" content="I’ve worked on a number of projects, most recently Adventure, a messenger game. I keep a collection of references, ideas and books, that I think people ought...">
<meta name="keywords" content="devinmcgloin, Devin McGloin, developer, backend development, vtest, computational proximity, contextual computing, computing"/>
<!-- <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-12359332-14', 'auto');
   ga('send', 'pageview');
</script> -->
{{end}}
