
<!DOCTYPE html>
<html>
  {{template "head"}}
   <body>
     {{ template "header" .Auth }}
      <div class="body-container">
         <h2>404.html!</h2>
         <p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="/">Head back home</a> to try finding it again.</p>
      </div>
   </body>
</html>
