
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "public-header" }}
      <div class="container">

         {{range .Images}}
         <div class="img">
           <h2><a href="/p/{{.Img.IID}}">{{.Title.Value}}</a></h2>
           <p>{{.Desc.Value}}</p>

           <img class="photo" src={{.ImgSource.URL}}>
         </div>
         {{end}}

      </div>
   </body>
</html>
