
<!DOCTYPE html>
<html>
{{template "head"}}
   <body>
     {{ template "header" .Auth}}
      <div class="body-container">

         <h2>{{.User.Name}}</h2>
         <p>{{.User.Bio}}</p>
         <p>{{.User.UserName}}</p>

         {{range .Images}}
          {{template "imageView" .}}
         {{end}}

      </div>
   </body>
</html>
